.cart {
  position: relative;
  display: block;
}

.cart__empty-text,
.is-empty .cart__contents,
cart-items.is-empty .title-wrapper-with-link,
.is-empty .cart__footer {
  display: none;
}

.is-empty .cart__empty-text,
.is-empty .cart__warnings {
  display: block;
}

.cart__warnings {
  display: none;
  text-align: center;
  padding: 3rem 0 1rem;
}

.cart__empty-text {
  margin: 4.5rem 0 2rem;
}

.cart__contents > * + * {
  margin-top: 2.5rem;
}

.cart__login-title {
  margin: 5.5rem 0 0.5rem;
}

.cart__login-paragraph {
  margin-top: 0.8rem;
}

.cart__login-paragraph a {
  font-size: inherit;
}

@media screen and (min-width: 990px) {
  .cart__warnings {
    padding: 7rem 0 1rem;
  }

  .cart__empty-text {
    margin: 0 0 3rem;
  }
}

cart-items {
  display: block;
}

.cart__items {
  position: relative;
  padding-bottom: 3rem;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.cart__items--disabled {
  pointer-events: none;
}

.cart__footer {
  padding: 4rem 0 0;
}

.cart__footer-wrapper:last-child .cart__footer {
  padding-bottom: 5rem;
}

.cart__footer > div:only-child {
  margin-left: auto;
}

.cart__footer > * + * {
  margin-top: 4rem;
}

.cart__footer .discounts {
  margin-top: 1rem;
}

.cart__note {
  height: fit-content;
}

.cart__note label {
  display: flex;
  align-items: flex-end;
  position: absolute;
  line-height: 1;
  height: 1.8rem;
  top: -3rem;
  color: rgba(var(--color-foreground), 0.75);
}

.cart__note .field__input {
  height: 100%;
  position: relative;
  border-radius: var(--inputs-radius);
  padding: 1rem 2rem;
}

.cart__note .text-area {
  resize: vertical;
}

.cart__note:after,
.cart__note:hover.cart__note:after,
.cart__note:before,
.cart__note:hover.cart__note:before,
.cart__note .field__input:focus,
.cart__note .field__input {
  border-bottom-right-radius: 0;
}

@media screen and (min-width: 750px) {
  .cart__items {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-bottom: 4rem;
  }

  .cart__contents > * + * {
    margin-top: 0;
  }

  .cart__items + .cart__footer {
    grid-column: 2;
  }

  .cart__footer {
    display: flex;
    justify-content: space-between;
    border: 0;
  }

  .cart__footer-wrapper:last-child {
    padding-top: 0;
  }

  .cart__footer > * {
    width: 35rem;
  }

  .cart__footer > * + * {
    margin-left: 4rem;
    margin-top: 0;
  }
}

.cart__ctas button {
  width: 100%;
}

.cart__ctas > *:not(noscript:first-child) + * {
  margin-top: 1rem;
}

.cart__update-button {
  margin-bottom: 1rem;
}

.cart__dynamic-checkout-buttons {
  max-width: 36rem;
  margin: 0 auto;
}

.cart__blocks > * + * {
  margin-top: 1rem;
}

.cart__dynamic-checkout-buttons div[role='button'] {
  border-radius: var(--buttons-radius-outset) !important;
}

.cart-note__label {
  display: inline-block;
  margin-bottom: 1rem;
  line-height: calc(1 + 1 / var(--font-body-scale));
}

.tax-note {
  margin: 2.2rem 0 1.6rem auto;
  text-align: center;
  display: block;
}

.cart__checkout-button {
  max-width: 36rem;
}

.cart__ctas {
  text-align: center;
}

@media screen and (min-width: 750px) {
  .cart-note {
    max-width: 35rem;
  }

  .cart__update-button {
    margin-bottom: 0;
    margin-right: 0.8rem;
  }

  .tax-note {
    margin-bottom: 2.2rem;
    text-align: right;
  }

  [data-shopify-buttoncontainer] {
    justify-content: flex-end;
  }

  .cart__ctas {
    display: flex;
    gap: 1rem;
  }
}



html
.drawer__inner {
    max-width: 425px;
  width:100%;
    padding: 48px 24px;
    display: block;
  border: 0;
    box-shadow: none;
}

h2.drawer__heading {
    font-family: Helvetica Neue;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 21.6px */
    text-transform: uppercase;
    color: #070707;
    margin-bottom: 0;
}

.drawer__close {
    width: 2.4rem;
    height: 2.4rem;
    min-width: 2.4rem;
    min-height: 2.4rem;
    top: -2px;
}

.drawer__close svg {
    width: 1.5rem;
    height: 1.5rem;
    margin: 0 auto;
}

.drawer__header {
    padding: 0;
}

.cart-items thead {
    display: none;
}

td.cart-item__media {
    width: 9rem;
}

a.cart-item__name.h4 {
    font-family: Helvetica Neue;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; 
    text-transform: uppercase;
}

.cart-drawer .cart-item {
    gap: 11px;
    display: block;
}

.cart-drawer .cart-items td {
    padding-top: 0;
}

.product-option {
    font-family: Helvetica Neue;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    text-transform: uppercase;
    margin-top: 8px;
    color: #070707;
}

p.product-option {
    font-family: Helvetica Neue;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; 
    color: #4D4D4D;
}

.cart-items tbody {
    margin-top: 40px;
}

td.cart-item__totals.right {
    display: none;
}

.cart-drawer .cart-items .cart-item__quantity {
    padding-left: 101px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cart-drawer .cart-item>td+td {
    padding-left: 11px;
}

.quantity__input[type=number] {
    font-family: Helvetica Neue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #070707;
    line-height: 120%; 
}

.quantity {
    min-height: 35px;
    height: 35px;
    max-width: 113px;
}

.quantity:before {
    opacity: 0;
}

.quantity:after {
    border: 1px solid #D0D0D0;
    box-shadow: none;
}

cart-remove-button svg {
    display: none;
}

cart-remove-button .button::after {
    content: "Remove";
    display: block;
font-family: Switzer;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 14.4px */
text-decoration-line: underline;
    color:#7D7D7D;
}

cart-remove-button .button {
    min-height: auto;
    min-width: auto;
    font-family: Switzer;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 14.4px */
    text-decoration-line: underline;
    color:#7D7D7D;
    text-transform: uppercase;
    letter-spacing: 0;
    width: 50px;
    min-height: 15px;
}

.cart-item__quantity-wrapper {
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.cart-item cart-remove-button {
    margin: 0;
}

button#CartDrawer-Checkout {
    min-height: 41px;
    background: #070707;
    font-family: Helvetica Neue;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 13.2px */
    text-transform: uppercase;
    letter-spacing: 0;
}

.drawer__footer {
    padding: 64px 0 0;
}
.product-option dt {
    display: none;
}

.cart-drawer .cart-item:last-child {
    margin: 0;
}

.cart-drawer .cart-item:nth-child(1) {
    padding-bottom: 16px;
}

.cart-drawer .cart-item + .cart-item {
    padding-top: 24px;
    padding-bottom: 16px;
}

.cart-drawer .cart-item {
    position: relative;
}

.cart-drawer .cart-item:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.5px;
    background: #D0D0D0;
}

.drawer__footer {border: 0;}
.drawer__footer div {
    color: #070707;
    font-family: Helvetica Neue;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 13.2px */
    text-transform: uppercase;
}

.drawer__footer div span {
    font-family: Helvetica Neue;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-transform: none;
    color: #7d7d7d;
  display:block;
  margin-top:4px;
}

.cart-drawer__footer {
    display: none;
}
.drawer__footer-wrapper {
    display: flex;
    justify-content: space-between;
  margin-bottom:24px;
}
@media only screen and (max-width:768px){
html .drawer__inner {
    max-width: 314px;
    padding:48px 10px 32px 10px;
 overflow: auto;
}

.drawer__close {
    right: -3px;
}
  div#CartDrawer {
    margin-top: 32px;
}

}